.aevents-list p {
    margin: 0;
}

.aevents-list .aevents-item {
    padding: 20px 10px;
    margin-bottom: 15px;
}

.aevents-list .aevents-item:nth-child(even) {
    border-left: 5px solid #e61ad9;
    background-color: #e613d82e;
}

.aevents-list .aevents-item:nth-child(odd) {
    border-left: 5px solid #0e4ec6;
    background-color: #b4c9f0ba;
}

.aevents-list .aevents-item .aevents-event-title {
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
}

.aevents-list .aevents-item .aevents-event-place {
    font-size: 0.6em;
    color: green;
    font-weight: bold;
}

.aevents-list .aevents-item .aevents-event-dates {
    font-size: 0.8em;
}